* 
{
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}
input{
	border-bottom: 1px dotted #dododo;
	border-right:1px dotted #dododo;
	border-left:1px dotted #dododo;
	padding: 5px;
	width: 280px;
	margin-bottom: 20px;
	border-radius: 8px;
}
input: focus {
	border: 1px dotted #dedede;
	outline: none
}
input #submit {
	color: #ffffff;
	background-color: #665544;
	border: none;
	border-radius:5px;
	width: 80px; 
}
 input #notificações {
	 width: 20px;
 }
 input #submit: hover {
	 color #665544; 
	 background-color: #efefef;
 }
width: 350px;
width: 200px;