#f {
	border: 1px solid black;
	border-radius: 10px; 
	text-align: left;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}
legend {
	background-color: #D8BFD8; 
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}
#b {
	background-color: #d4aecb;
	background-size: 100%;
} 
p {
	font-size:18px;
}